{% extends "base.html" %}
{% block content %}
<div id="block" style="margin-top: 8%; margin-left: 0%; color:black;">
    <form method="POST" style="color:black;">
        {% csrf_token %}   
        <div class="form-group">           
        <label for="species">Select species</label>
        <select name="species" id="species">
            <option value="a" selected data-default></option>
            <option value="a">All</option>
            <option value="s">Squirrels</option>
            <option value="b">Birds</option>
        </select>
        <button type="submit" class="btn-lg btn-primary">Show</button>
        </div>
    </form>
    {% if pic_list %}
        <div class="grid-container">
        {% for pic in pic_list %}
        <div class="grid-item">
            <div class="card" style="width: 18em;">
                <img src="{{pic.image}}" alt="Avatar" style="width:100%">
                <div class="card-body">
                <h5 class="card-title">{{ pic.image_date }}</h5>
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>
    
    {% else %}
    <div class="else">
        <h1>No pictures are available.</h1>
        </div>
    {% endif %}
</div>
{% endblock content %}
